<?xml version="1.0" encoding="UTF-8"?>
<configuration status="WARN" monitorInterval="3600">
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
					pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<RollingFile name="system_log" fileName="log/system.log" filePattern="log/history/system-%d{yyyyMMdd}.log">
			<PatternLayout>
				<Pattern>%d %p %c{1.} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		<RollingFile name="error_log" fileName="log/error.log" filePattern="log/history/error-%d{yyyyMMdd}.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS},%m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
		<RollingFile name="task_log" fileName="log/task.log" filePattern="log/history/task-%d{yyyyMMdd}.log">
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS},%m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingFile>
	</appenders>
	<loggers>
		<Root level="info">
			<AppenderRef ref="system_log" />
			<AppenderRef ref="Console" />
		</Root>
		<AsyncLogger name="task" level="info" additivity="false">
			<AppenderRef ref="task_log"/>
		</AsyncLogger>
		<AsyncLogger name="error" level="error" additivity="false">
			<AppenderRef ref="error_log"/>
			<AppenderRef ref="Console" />
		</AsyncLogger>
	</loggers>
</configuration>
